# ==========================================
# Terraform
# ==========================================
.terraform/
*.tfstate
*.tfstate.*
*.tfstate.backup
*.tfvars
*.tfvars.json
crash.log
crash.*.log
.terraform.tfstate.lock.info
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*tfplan*
.terraformrc
terraform.rc

# ==========================================
# Kubernetes / Helm
# ==========================================
.kube/
config
charts/
tmp/
kubeconfig*

# ==========================================
# Secrets & Environment Variables
# ==========================================
.env
.env.*
.secrets
secrets.yaml
!k8s/external-secret.yaml
*.pem
*.key
*.pub

# ==========================================
# System & IDE
# ==========================================
.DS_Store
Thumbs.db
.vscode/
!.vscode/extensions.json
.idea/
*.swp
*.bak
